

body,html{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: none;
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  text-decoration:none;
  z-index: 1;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin:0;
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  z-index:2;
}

.contentWrap{
  width:100vw;
  height:100vh;
}

.contentContainer{
  width:100%;

  height: 80%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  z-index:3;
  margin:0px;
}

/*HEADER CONTAINER*/
.headerContainer{
  width:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  z-index:1000;
}

.webName{
  color:white;
  font-size:.6rem;
}

.menuDiv{
  margin-inline:10px;
  height:100%;
  display:grid;
  place-items:center;
  flex-flow:column nowrap;
  z-index:10;
  width:2rem;
  height:2rem;
  cursor: pointer;
  transition: .5s ease;
  z-index: 1001;
}

.burger{
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
  transform-origin:1px;
  transition: ease .1s;
}

.menuDiv:hover .burger{
  background:rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter:blur(4px);
}

.popMenu{
  position: fixed;
  width: 50vw;
  height: 70vh;
  margin-bottom:100px;
  background: rgb(99, 14, 14);
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 1000;
  border-radius:10px;
  filter:none;
}

.popContent{
  border-radius:10px;
  position:relative;
  width:100%;
  height:100%;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0,0,0,0.4);
  overflow-y:auto;
}


.closeButton{
  color:white;
  margin:0;
  top:.1px;
  display:flex;
  justify-content: flex-end;
  position: sticky;
  padding-right:15px;
  font-size:3rem;
  cursor: pointer;
  z-index:1;
  float:right;
}

.popHeader{
  margin-top:0px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;

  font-size:2rem;
  padding:10px;

  color:white;
  background:rgba(255,255,255,0.2);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter:blur(4px);
}


.inputContainer{
  width:fit-content;
  height:auto;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px 10px;
  margin-inline:10px;
}

.inputDiv{
  margin-block:3vh;
  display:contents;
}

label{
  grid-column: 1;
  text-align: center;
  place-self: center ;
  color:white;
  font-size:1.5rem;
  width:100%;
  background:rgba(255,255,255,0.2);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter:blur(4px);
  border-radius:10px;
  padding:10px;
}

input{
  display:flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  color:white;
  text-align: center;
  align-self:center;
  width:100%;
  margin:0;
  padding:5px;
  font-size:1.4rem;
  border:none;
  border-radius:10px;
  outline:none;
  appearance: none;
  -webkit-appearence:none;
  -moz-appearence: none;
  background-color: rgba(255, 255, 255, 0.166);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.colorInput{
width:40%;
height:100%;
cursor: pointer;
overflow:hidden;
background: none;
margin:auto;
}

.fileInput {
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
  cursor: pointer;
  border-radius:10px;
  width:100%;
  height:100%;
}

.fileInputLabel {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius:10px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: ease 0.1s;
  position:relative;
}

.fileInputLabel:hover {
  background-color: rgb(255, 255, 255, .0);
}

::placeholder{
  opacity:.7;
  color:gray;
}

.reset{
  text-align: center;
  place-self: center ;
  color:white;
  font-size:1.5rem;
  width:100%;
  background:rgba(255,255,255,0.2);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter:blur(4px);
  border-radius:10px;
  padding:10px;
  border:none;
  cursor: pointer;
  transition:ease .1s;
}

.reset:hover{
background:rgba(255,255,255,0);
}




.wrap{
  display:flex;
  flex-flow:column-reverse;
  justify-content: center;
  align-items: start;
}

.desc{
  justify-self:start;
  border-radius:10px;
  color:white;
  text-align: left;
  font-size:1rem;
  padding:10px;
  margin:10px;
  background:rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter:blur(4px);
}

.desc h1{
  font-size:1.5rem;
  white-space: nowrap;
}

.desc li{
  font-size:1.2rem;
  padding:5px;
}


/*clock container*/
.clockContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  width:100%;
  text-align:center;
  background:rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
 
  margin-bottom:10vh;
  white-space: nowrap;
  z-index:0;
}
.buttonContainer, .startContainer{
  display: grid;
  place-items:center;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  gap: 10px; /* Add some gap between buttons */
}

.startContainer{
  width:70%;
}

/*btn css*/
.btn{
  color: white;
  background:rgba(255, 255, 255, 0.2);
  border-radius:16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
 


  display:flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width:none;
  min-widtH:0;

  
  height:80px;
  margin:10px;
  padding-inline:10px;

  border:none;
  border-radius:20px;

  white-space: nowrap;
  font-size:1.6em;  
  cursor: pointer;
  transition:.2s ease;
}

.btn:hover{
  transform:scale(1.1);
  background-color: #ffffff00;
}

.btn:not(.startBtn,.resetBtn):focus{
  transform:scale(1.1);
  background:rgba(255,255,255,0.4);
}



.timerContainer{
  width:100%;
  height:auto;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-block:5vh;
}

.timer, .clock{
  color:white;
  margin-bottom:10px;
  font-size:5rem;
  border-radius:20px;
  padding-inline:10px;
  width:fit-content;
}

.timer{
  background-color: rgba(255, 255, 255, 0.14);
}

  


@media (max-width: 768px){

  .popMenu{
    width:80%;
  }
  
  input,label, .reset,.desc{
    font-size:1.6rem;
  }
 
  .btn{font-size:1.4em;}

  .timer, .clock{
    font-size:4.8rem;
  }

  .webName{
    font-size:.6rem;
  }
  .burger{
    width: 1.5rem;
  height: 0.25rem;
  }
}

@media(max-width: 600px){
  .btn{font-size:1.2em;}
}


@media (max-width: 480px) {
  
  .popMenu{
    width:85%;
  }
  
  input,label, .reset, .desc{
    font-size:1.4rem;
  }

  .btn{
    font-size: 1rem; /* Slightly smaller font size on small screens */
    height: 60px;
    gap:10px;
  }

  .timer, .clock {
    font-size: 3rem;
  }

  .headerContainer{
    justify-content: space-between;
  }
  .webName{
    margin-left:5px;
  }
}

@media (max-width: 400px) {
  .popMenu{
    width:85%;
  }

  .btn{
    font-size: .8em;
  }
  
  input,label,.reset, .desc{
    font-size:1.2rem;
  }
  
}


@media (max-height:600px){
  .webName{display:none;}
  .headerContainer{justify-content: flex-end;}
  .clock,.timer{font-size:3rem;}
  .buttonContainer button, .startContainer button{
    font-size:1.2em;
    height:60px;
  }
}

@media(max-height:400px){
  .webName{display:none;}
  .clock,.timer{font-size:2rem;}
  .clockContainer{margin-top:20px;}
  .buttonContainer button, .startContainer button {
    font-size: 1rem; /* Slightly smaller font size on small screens */
    height: 40px;
  }
}










